.header {
  background-color: #080909;
  padding: 1rem 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #fff;
  text-align: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.router-link-exact-active {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
}

.back-link {
  font-size: 5rem;
  text-decoration: none;
}
